## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for more advanced students who want more practice.**

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to a daily level. Currently, there are 3 measurements per hour in the data.

This problem is more challenging as we provide only minimal instructions for completing the given tasks.

### What to do

- Create a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately using the hourly values from Rovaniemi and Helsinki Kumpula

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. If you think you can handle this but don't know how to proceed, ask for tips in Slack!

In [1]:
# Import Pandas and read in the data from csv
import pandas as pd
import numpy as np
kumpula_temps = "data/Kumpula_temps_May_Aug_2017.csv"
rovaniemi_temps = "data/Rovaniemi_temps_May_Aug_2017.csv"

kumpula = pd.read_csv(kumpula_temps, sep=',', na_values=['*', '**', '***', '****', '*****', '******'])
print(kumpula.head(), "\n")

rovaniemi = pd.read_csv(rovaniemi_temps, sep=',', na_values=['*', '**', '***', '****', '*****', '******'])
print(rovaniemi.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN      3.0
1        8771  29980  201705010100  37.0  NaN  NaN      3.0
2        8772  29980  201705010200  37.0  NaN  NaN      3.0
3        8773  29980  201705010300  37.0  NaN  NaN      3.0
4        8774  29980  201705010400  39.0  NaN  NaN      4.0

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN     -1.0
1           1  28450  201705010020  30.0  NaN  NaN     -1.0
2           2  28450  201705010050  30.0  NaN  NaN     -1.0
3           3  28450  201705010100  31.0  NaN  NaN     -1.0
4           4  28450  201705010120  30.0  NaN  NaN     -1.0

In [2]:
#Calculating MIN, MAX, MEAN for both datasets
pd.set_option('display.max_columns', None)

kumpula['MEAN'] = kumpula['Celsius'].mean()
kumpula['MAX'] = max(kumpula['Celsius'])
kumpula['MIN'] =  min(kumpula['Celsius'])
print(kumpula.head(), "\n")

rovaniemi['MEAN'] = rovaniemi['Celsius'].mean()
rovaniemi['MAX'] = max(rovaniemi['Celsius'])
rovaniemi['MIN'] =  min(rovaniemi['Celsius'])
print(rovaniemi.head(), "\n")

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP   MAX  MIN  Celsius       MEAN
0        8770  29980  201705010000  37.0  25.0 -2.0      3.0  13.926129
1        8771  29980  201705010100  37.0  25.0 -2.0      3.0  13.926129
2        8772  29980  201705010200  37.0  25.0 -2.0      3.0  13.926129
3        8773  29980  201705010300  37.0  25.0 -2.0      3.0  13.926129
4        8774  29980  201705010400  39.0  25.0 -2.0      4.0  13.926129

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP   MAX  MIN  Celsius       MEAN
0           0  28450  201705010000  31.0  24.0 -7.0     -1.0  10.347777
1           1  28450  201705010020  30.0  24.0 -7.0     -1.0  10.347777
2           2  28450  201705010050  30.0  24.0 -7.0     -1.0  10.347777
3           3  28450  201705010100  31.0  24.0 -7.0     -1.0  10.347777
4           4  28450  201705010120  30.0  24.0 -7.0     -1.0  10.347777

In [3]:
# DataFrames for the results
kumpula_temp = pd.DataFrame(data=kumpula, columns=['YR--MODAHRMN', 'TIME', 'TEMP', 'MAX', 'MIN', 'MEAN'])
print(kumpula_temp.head(), "\n")

rovaniemi_temp = pd.DataFrame(data=rovaniemi, columns=['YR--MODAHRMN', 'TIME', 'TEMP', 'MAX', 'MIN', 'MEAN'])
print(rovaniemi_temp.head(), "\n")

   YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0  201705010000   NaN  37.0  25.0 -2.0  13.926129
1  201705010100   NaN  37.0  25.0 -2.0  13.926129
2  201705010200   NaN  37.0  25.0 -2.0  13.926129
3  201705010300   NaN  37.0  25.0 -2.0  13.926129
4  201705010400   NaN  39.0  25.0 -2.0  13.926129

   YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0  201705010000   NaN  31.0  24.0 -7.0  10.347777
1  201705010020   NaN  30.0  24.0 -7.0  10.347777
2  201705010050   NaN  30.0  24.0 -7.0  10.347777
3  201705010100   NaN  31.0  24.0 -7.0  10.347777
4  201705010120   NaN  30.0  24.0 -7.0  10.347777

In [10]:
pd.set_option('display.max_columns', None)
#Convert to timestampts
kumpula_temp['YR--MODAHRMN'] = pd.to_datetime(kumpula_temp['YR--MODAHRMN'])

#put the timestamp part of the datetime into a separate column
#kumpula_temp['TIME'] = kumpula_temp['YR--MODAHRMN'].dt.time

kumpula_df = kumpula_temp.groupby(kumpula_temp["YR--MODAHRMN"].dt.day)["MEAN"].mean()

#keep first duplicate value
df = df.drop_duplicates(subset=['Id'])

print(kumpula_temp, "\n")

                      YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0    1970-01-01 00:03:21.705010000   NaN  37.0  25.0 -2.0  13.926129
1    1970-01-01 00:03:21.705010100   NaN  37.0  25.0 -2.0  13.926129
2    1970-01-01 00:03:21.705010200   NaN  37.0  25.0 -2.0  13.926129
3    1970-01-01 00:03:21.705010300   NaN  37.0  25.0 -2.0  13.926129
4    1970-01-01 00:03:21.705010400   NaN  39.0  25.0 -2.0  13.926129
5    1970-01-01 00:03:21.705010500   NaN  41.0  25.0 -2.0  13.926129
6    1970-01-01 00:03:21.705010600   NaN  44.0  25.0 -2.0  13.926129
7    1970-01-01 00:03:21.705010700   NaN  45.0  25.0 -2.0  13.926129
8    1970-01-01 00:03:21.705010800   NaN  48.0  25.0 -2.0  13.926129
9    1970-01-01 00:03:21.705010900   NaN  51.0  25.0 -2.0  13.926129
10   1970-01-01 00:03:21.705011000   NaN  52.0  25.0 -2.0  13.926129
11   1970-01-01 00:03:21.705011100   NaN  51.0  25.0 -2.0  13.926129
12   1970-01-01 00:03:21.705011200   NaN  54.0  25.0 -2.0  13.926129
13   1970-01-01 00:03:21.705011300   NaN  49.0  25.0 -2.0  13.926129
14   1970-01-01 00:03:21.705011400   NaN  50.0  25.0 -2.0  13.926129
15   1970-01-01 00:03:21.705011500   NaN  52.0  25.0 -2.0  13.926129
16   1970-01-01 00:03:21.705011600   NaN  50.0  25.0 -2.0  13.926129
17   1970-01-01 00:03:21.705011700   NaN  52.0  25.0 -2.0  13.926129
18   1970-01-01 00:03:21.705011800   NaN  48.0  25.0 -2.0  13.926129
19   1970-01-01 00:03:21.705011900   NaN  48.0  25.0 -2.0  13.926129
20   1970-01-01 00:03:21.705012000   NaN  46.0  25.0 -2.0  13.926129
21   1970-01-01 00:03:21.705012100   NaN  44.0  25.0 -2.0  13.926129
22   1970-01-01 00:03:21.705012200   NaN  42.0  25.0 -2.0  13.926129
23   1970-01-01 00:03:21.705012300   NaN  39.0  25.0 -2.0  13.926129
24   1970-01-01 00:03:21.705020000   NaN  38.0  25.0 -2.0  13.926129
25   1970-01-01 00:03:21.705020100   NaN  36.0  25.0 -2.0  13.926129
26   1970-01-01 00:03:21.705020200   NaN  36.0  25.0 -2.0  13.926129
27   1970-01-01 00:03:21.705020300   NaN  35.0  25.0 -2.0  13.926129
28   1970-01-01 00:03:21.705020400   NaN  40.0  25.0 -2.0  13.926129
29   1970-01-01 00:03:21.705020500   NaN  46.0  25.0 -2.0  13.926129
...                            ...   ...   ...   ...  ...        ...
2894 1970-01-01 00:03:21.708301800   NaN  63.0  25.0 -2.0  13.926129
2895 1970-01-01 00:03:21.708301900   NaN  62.0  25.0 -2.0  13.926129
2896 1970-01-01 00:03:21.708302000   NaN  62.0  25.0 -2.0  13.926129
2897 1970-01-01 00:03:21.708302100   NaN  62.0  25.0 -2.0  13.926129
2898 1970-01-01 00:03:21.708302200   NaN  62.0  25.0 -2.0  13.926129
2899 1970-01-01 00:03:21.708302300   NaN  61.0  25.0 -2.0  13.926129
2900 1970-01-01 00:03:21.708310000   NaN  62.0  25.0 -2.0  13.926129
2901 1970-01-01 00:03:21.708310100   NaN  61.0  25.0 -2.0  13.926129
2902 1970-01-01 00:03:21.708310200   NaN  61.0  25.0 -2.0  13.926129
2903 1970-01-01 00:03:21.708310300   NaN  60.0  25.0 -2.0  13.926129
2904 1970-01-01 00:03:21.708310400   NaN  60.0  25.0 -2.0  13.926129
2905 1970-01-01 00:03:21.708310500   NaN  60.0  25.0 -2.0  13.926129
2906 1970-01-01 00:03:21.708310600   NaN  61.0  25.0 -2.0  13.926129
2907 1970-01-01 00:03:21.708310700   NaN  61.0  25.0 -2.0  13.926129
2908 1970-01-01 00:03:21.708310800   NaN  62.0  25.0 -2.0  13.926129
2909 1970-01-01 00:03:21.708310900   NaN  62.0  25.0 -2.0  13.926129
2910 1970-01-01 00:03:21.708311000   NaN  63.0  25.0 -2.0  13.926129
2911 1970-01-01 00:03:21.708311100   NaN  63.0  25.0 -2.0  13.926129
2912 1970-01-01 00:03:21.708311200   NaN  65.0  25.0 -2.0  13.926129
2913 1970-01-01 00:03:21.708311300   NaN  66.0  25.0 -2.0  13.926129
2914 1970-01-01 00:03:21.708311400   NaN  66.0  25.0 -2.0  13.926129
2915 1970-01-01 00:03:21.708311500   NaN  66.0  25.0 -2.0  13.926129
2916 1970-01-01 00:03:21.708311600   NaN  62.0  25.0 -2.0  13.926129
2917 1970-01-01 00:03:21.708311700   NaN  62.0  25.0 -2.0  13.926129
2918 1970-01-01 00:03:21.708311800   NaN  64.0  25.0 -2.0  13.926129
2919 1970-01-01 00:03:21.708311900   NaN  64.0  25.0 -2.0  13.926129
2920 1970-01-01 00:03:21.708312000   NaN  64.0  25.0 -2.0  13.926129
2921 1970-01-01 00:03:21.708312100   NaN  64.0  25.0 -2.0  13.926129
2922 1970-01-01 00:03:21.708312200   NaN  64.0  25.0 -2.0  13.926129
2923 1970-01-01 00:03:21.708312300   NaN  64.0  25.0 -2.0  13.926129

[2924 rows x 6 columns]

In [5]:
pd.set_option('display.max_columns', None)
#Convert to timestampts
rovaniemi_temp['YR--MODAHRMN'] = pd.to_datetime(rovaniemi_temp['YR--MODAHRMN'])

#put the timestamp part of the datetime into a separate column
#kumpula_temp['TIME'] = kumpula_temp['YR--MODAHRMN'].dt.time

rovaniemi_df = rovaniemi_temp.groupby(rovaniemi_temp["YR--MODAHRMN"].dt.time)["MEAN"].mean()

print(rovaniemi_temp, "\n")

                      YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0    1970-01-01 00:03:21.705010000   NaN  31.0  24.0 -7.0  10.347777
1    1970-01-01 00:03:21.705010020   NaN  30.0  24.0 -7.0  10.347777
2    1970-01-01 00:03:21.705010050   NaN  30.0  24.0 -7.0  10.347777
3    1970-01-01 00:03:21.705010100   NaN  31.0  24.0 -7.0  10.347777
4    1970-01-01 00:03:21.705010120   NaN  30.0  24.0 -7.0  10.347777
5    1970-01-01 00:03:21.705010150   NaN  30.0  24.0 -7.0  10.347777
6    1970-01-01 00:03:21.705010200   NaN  31.0  24.0 -7.0  10.347777
7    1970-01-01 00:03:21.705010220   NaN  30.0  24.0 -7.0  10.347777
8    1970-01-01 00:03:21.705010250   NaN  30.0  24.0 -7.0  10.347777
9    1970-01-01 00:03:21.705010300   NaN  31.0  24.0 -7.0  10.347777
10   1970-01-01 00:03:21.705010320   NaN  30.0  24.0 -7.0  10.347777
11   1970-01-01 00:03:21.705010350   NaN  30.0  24.0 -7.0  10.347777
12   1970-01-01 00:03:21.705010400   NaN  31.0  24.0 -7.0  10.347777
13   1970-01-01 00:03:21.705010420   NaN  30.0  24.0 -7.0  10.347777
14   1970-01-01 00:03:21.705010450   NaN  30.0  24.0 -7.0  10.347777
15   1970-01-01 00:03:21.705010500   NaN  31.0  24.0 -7.0  10.347777
16   1970-01-01 00:03:21.705010520   NaN  30.0  24.0 -7.0  10.347777
17   1970-01-01 00:03:21.705010550   NaN  30.0  24.0 -7.0  10.347777
18   1970-01-01 00:03:21.705010600   NaN  31.0  24.0 -7.0  10.347777
19   1970-01-01 00:03:21.705010620   NaN  30.0  24.0 -7.0  10.347777
20   1970-01-01 00:03:21.705010650   NaN  30.0  24.0 -7.0  10.347777
21   1970-01-01 00:03:21.705010700   NaN  30.0  24.0 -7.0  10.347777
22   1970-01-01 00:03:21.705010720   NaN  30.0  24.0 -7.0  10.347777
23   1970-01-01 00:03:21.705010750   NaN  32.0  24.0 -7.0  10.347777
24   1970-01-01 00:03:21.705010800   NaN  32.0  24.0 -7.0  10.347777
25   1970-01-01 00:03:21.705010820   NaN  32.0  24.0 -7.0  10.347777
26   1970-01-01 00:03:21.705010850   NaN  34.0  24.0 -7.0  10.347777
27   1970-01-01 00:03:21.705010900   NaN  34.0  24.0 -7.0  10.347777
28   1970-01-01 00:03:21.705010920   NaN  34.0  24.0 -7.0  10.347777
29   1970-01-01 00:03:21.705010950   NaN  36.0  24.0 -7.0  10.347777
...                            ...   ...   ...   ...  ...        ...
8740 1970-01-01 00:03:21.708311400   NaN  62.0  24.0 -7.0  10.347777
8741 1970-01-01 00:03:21.708311420   NaN  59.0  24.0 -7.0  10.347777
8742 1970-01-01 00:03:21.708311450   NaN  59.0  24.0 -7.0  10.347777
8743 1970-01-01 00:03:21.708311500   NaN  60.0  24.0 -7.0  10.347777
8744 1970-01-01 00:03:21.708311520   NaN  59.0  24.0 -7.0  10.347777
8745 1970-01-01 00:03:21.708311550   NaN  59.0  24.0 -7.0  10.347777
8746 1970-01-01 00:03:21.708311600   NaN  59.0  24.0 -7.0  10.347777
8747 1970-01-01 00:03:21.708311620   NaN  57.0  24.0 -7.0  10.347777
8748 1970-01-01 00:03:21.708311650   NaN  57.0  24.0 -7.0  10.347777
8749 1970-01-01 00:03:21.708311700   NaN  57.0  24.0 -7.0  10.347777
8750 1970-01-01 00:03:21.708311720   NaN  55.0  24.0 -7.0  10.347777
8751 1970-01-01 00:03:21.708311750   NaN  54.0  24.0 -7.0  10.347777
8752 1970-01-01 00:03:21.708311800   NaN  55.0  24.0 -7.0  10.347777
8753 1970-01-01 00:03:21.708311820   NaN  52.0  24.0 -7.0  10.347777
8754 1970-01-01 00:03:21.708311850   NaN  52.0  24.0 -7.0  10.347777
8755 1970-01-01 00:03:21.708311900   NaN  53.0  24.0 -7.0  10.347777
8756 1970-01-01 00:03:21.708311920   NaN  52.0  24.0 -7.0  10.347777
8757 1970-01-01 00:03:21.708311950   NaN  52.0  24.0 -7.0  10.347777
8758 1970-01-01 00:03:21.708312000   NaN  52.0  24.0 -7.0  10.347777
8759 1970-01-01 00:03:21.708312020   NaN  50.0  24.0 -7.0  10.347777
8760 1970-01-01 00:03:21.708312050   NaN  50.0  24.0 -7.0  10.347777
8761 1970-01-01 00:03:21.708312100   NaN  51.0  24.0 -7.0  10.347777
8762 1970-01-01 00:03:21.708312120   NaN  48.0  24.0 -7.0  10.347777
8763 1970-01-01 00:03:21.708312150   NaN  48.0  24.0 -7.0  10.347777
8764 1970-01-01 00:03:21.708312200   NaN  48.0  24.0 -7.0  10.347777
8765 1970-01-01 00:03:21.708312220   NaN  46.0  24.0 -7.0  10.347777
8766 1970-01-01 00:03:21.708312250   NaN  46.0  24.0 -7.0  10.347777
8767 1970-01-01 00:03:21.708312300   NaN  48.0  24.0 -7.0  10.347777
8768 1970-01-01 00:03:21.708312320   NaN  46.0  24.0 -7.0  10.347777
8769 1970-01-01 00:03:21.708312350   NaN  48.0  24.0 -7.0  10.347777

[8770 rows x 6 columns]